.register-card {
  max-width: 1560px !important;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-row .form-field-full {
  flex: 1;
}

@media (max-width: 480px) {
  .form-row {
    flex-direction: column;
    gap: 0;
  }
}